* { /*border: 1px solid rgba(0,0,0,0.4);*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} 

/* header top area */
#header {
	width: 100%;
	text-align: center;
	display:block;
	background-color: #5B3C66;
	color:white;
}

#header h1 {
	font-family: "Kumar One", sans-serif;
	font-size: 2.5em;
	font-weight: 500;
	width: 60%;
	padding-top: 0.2em;
	padding-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}

#header p {
	font-family: "Alegreya Sans", sans-serif;
	font-size: 1.2em;
	font-weight: 400;
	width: 60%;
	padding-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	word-spacing: .15em;
}

p#help {
	text-decoration: underline;
	color: DarkGray;
	font-size: .9em;
	top:1%;
	left:1%;
	position: absolute;
}

p#ver {
	color: DarkGray;
	font-size: .8em;
	top:1%;
	right:1%;
	position: absolute;
}

/* add buttons area */
#level {
	position: absolute;
	margin: .8em 0 0 2em;
	font-family: "Verdana", sans-serif;
	font-size: 1.4em;
	font-weight: 600;
	color: purple;
}

#tot {
	display: none;
}

#addsDiv {
	text-align: center;
	display: block;
	padding: .25em 0 .75em 0;
}

#saves {
	position: absolute;
	display: inline-block;
	right: 2em;
}

#addSkillBtn, #addActionBtn {
	background-color: purple;
	color: white;
	font-weight:bold;
	width:8em;
	margin: .3em 2em .3em 2em;
}

#fileInput {
	display: none;
}

/* skills table area */
h3 {
	padding-top: 0.1em;
	padding-left: .2em;
	text-decoration: underline;
	font-family: "Alegreya Sans", sans-serif;
}

#skillDiv {
	width:34%;
	min-height: 13em;
	position: relative;
	left: 1%;
	background-color: #D9D3F9;
	border-radius: 3px;
	display: inline-block;
	padding: 0 .2em 1em .2em;
}

#skillTable {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	border-collapse: collapse;

}

.skillRow {
	border: 1px solid black;
}

.cell1 {
	width:65%;
	max-width: 65%;
}

.cell2 {
	text-align: center;
}

.cell3 {
	width: 10%;
}

.delLink {
	text-decoration: underline;
	font-size: .7em;
	color: blue;
	display: block;
	margin: .25em;
	vertical-align: middle;
	text-align: right;
}

tr.thead {
	font-weight: bold;
}

/* action buttons area */
#actionDiv {
	width:63%;
	min-height: 13em;
	position: relative;
	display: inline-block;
	float: right;
	right: 1%;
	background-color: #D9D3F9;
	border-radius: 3px;
	padding: 0 .2em 1em .2em;
}

.actionSubdiv {
	min-height: 10em;
	min-width: 10em;
	max-width: 20em;
	border: 1px solid purple;
	border-radius: 8px;
	display: inline-block;
	position: relative;
	vertical-align: top;
	margin: .2em;
}

.actionSubheading {
	font-family: "Alegreya Sans", sans-serif;
	padding-left: 8px;
}

.actionBtn {
	padding: .15em;
	margin: .3em;
	display: block;
	max-width: 15em;
}