* {border: 1px solid rgba(0,0,0,0.4);
	margin: 0;
	padding: 0;
} 

#header {
	width: 100%;
	text-align: center;
	display:block;
	z-index: 2;
	background-color: #5B3C66;
	color:white;
}

#header h1 {
	font-family: "Kumar One", sans-serif;
	font-size: 2.5em;
	font-weight: 500;
	width: 60%;
	padding-top: 0.2em;
	padding-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}

#header p {
	font-family: "Alegreya Sans", sans-serif;
	font-size: 1.2em;
	font-weight: 400;
	width: 60%;
	padding-bottom: 0.3em;
	margin-left: auto;
	margin-right: auto;
	word-spacing: .15em;
}

p#help {
	text-decoration: underline;
	color: DarkGray;
	font-size: .8em;
	top:1%;
	left:1%;
	position: absolute;
}

#addsDiv {
	text-align: center;
	display:block;
}

#addSkillBtn, #addActionBtn {
	background-color: purple;
	color: white;
	font-weight:bold;
	width:8em;
	margin: .3em 2em .3em 2em;
}

h3 {
	padding-top: 0.1em;
	text-decoration: underline;
	font-family: "Alegreya Sans", sans-serif;
}

#skillDiv {
	width:35%;
	height: 200px;
	position: relative;
	left: 1%;
	background-color: yellow;
	display: inline-block;
}

#skillTable {
	width: 98%;
	margin-left: auto;
	margin-right: auto;;

}

.cell1 {
	width:75%;
}

tr.thead {
	font-weight: bold;
}

#actionDiv {
	width:60%;
	height: 200px;
	position: relative;
	display: inline-block;
	float: right;
	right: 1%;
	background-color: cyan;
}

.actionBtn {
	padding: .15em;
	margin: .3em;
}