* {border: 1px solid rgba(0,0,0,0.4);
	margin: 0;
	padding: 0;
} 

#header {
	width: 100%;
	text-align: center;
	display:block;
	z-index: 2;
	background-color: #5B3C66;
	color:white;
}

#header h1 {
	font-family: "Kumar One", sans-serif;
	font-size: 2.5em;
	font-weight: 500;
	width: 60%;
	padding-top: 0.2em;
	padding-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}

#header p {
	font-family: "Alegreya Sans", sans-serif;
	font-size: 1.2em;
	font-weight: 400;
	width: 60%;
	padding-bottom: 0.3em;
	margin-left: auto;
	margin-right: auto;
	word-spacing: .15em;
}

.pbtn {
	text-decoration: underline;
	color: DarkGray;
	font-size: .8em;
	top:1%;
	left:1%;
	position: absolute;
}

#adds {
	text-align: center;
	display:block;
}

button#add_skill, button#add_action {
	background-color: purple;
	color: white;
	font-weight:bold;
	width:8em;
	margin: .5em 2em .5em 2em;
}

#skills {
	width:40%;
	height: 200px;
	position: relative;
	left:1%;
	background-color: red;
}

tr.thead {
	font-weight: bold;
}